<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385479241627-otog61f7tnugth8porlvf80i68vrdo1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385479241627-otog61f7tnugth8porlvf80i68vrdo1t</string>
	<key>API_KEY</key>
	<string>AIzaSyAWzYa1jtdjIWXrU0C1oUaFzWyA2d-1SmI</string>
	<key>GCM_SENDER_ID</key>
	<string>385479241627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.jec.cm.Capsel</string>
	<key>PROJECT_ID</key>
	<string>hidehisw-38706</string>
	<key>STORAGE_BUCKET</key>
	<string>hidehisw-38706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385479241627:ios:2e3c1d2ebaf5b09faf3b3e</string>
</dict>
</plist>